@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black bg-white antialiased;
  }

  /* Optional: Make all headings inherit the brand color strongly */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
  }
}